RewriteEngine On

# Si el archivo o carpeta existe, servirlo tal cual
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Todo lo demás pasa a index.php
RewriteRule ^ index.php [L]